/ {
    aliases {
        nura-drogue-a = &nura_drogue_a;
        nura-drogue-b = &nura_drogue_b;
        nura-main-a = &nura_main_a;
        nura-main-b = &nura_main_b;
    };

    nura_recovery_outputs {
        compatible = "gpio-leds";

        nura_drogue_a: drogue_a {
            gpios = <&gpio3 18 GPIO_ACTIVE_HIGH>; /* Teensy D28 */
        };
        nura_drogue_b: drogue_b {
            gpios = <&gpio4 31 GPIO_ACTIVE_HIGH>; /* Teensy D29 */
        };
        nura_main_a: main_a {
            gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>; /* Teensy D35 */
        };
        nura_main_b: main_b {
            gpios = <&gpio1 28 GPIO_ACTIVE_HIGH>; /* Teensy D38 */
        };
    };
};
